<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- toastify css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  </head>

  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <header>
      <div class="container">
        <nav>
          <div class="logo-icon">
            <%= link_to embedded_svg("/instagram-icon.svg"), root_path %>
          </div>

          <div class="logo-text">
            <%= link_to root_path do %>
              <%= image_tag "/images/instagram.png" %>
            <% end %>
          </div>
        </nav>

        <nav class="actions">
          <%= link_to embedded_svg("/plus.svg"), new_post_path %>
          <%= link_to embedded_svg("/user.svg"), "#" %>
        </nav>
      </div>
    </header>



    <%= yield %>

    <!-- Toastify script -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
</html>

<!-- <h1>&#128578;</h1>
<h1>&#128640;</h1>
<h1>&#10024;</h1>
<h1>&#128151;</h1>
<h1>&#128293;</h1>
<h1>&#128079;</h1>
<h1>&#128526;</h1>